<form [formGroup]="copyGroup">

  <mat-form-field>
    <mat-label>Title:</mat-label>
    <input type="text" matInput formControlName="Title">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Num of q</mat-label>
    <input type="text" matInput formControlName="NumOfQ">
  </mat-form-field>

<ng-container formArrayName="VALUES">
  <div class="values" *ngFor="let group of groupControls.controls; let i = index">
    <div class="fg" [formGroupName]="i">
    <mat-form-field>
      <input type="text" matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput formControlName="code">
      <mat-error>
          code is entered before
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput formControlName="value">
    </mat-form-field>
    </div>
  </div>
</ng-container>

</form>
